:root {
  --header-height: 0px;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  width: initial;
  height: initial;
}

.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  content: none;
}

#homeBannerSwiper .swiper-pagination-bullet {
  width: 4rem !important;
  height: 4px !important;
  border-radius: 0 !important;
  border: none !important;
  background-color: rgb(190, 190, 190) !important;
  position: relative;
  opacity: 1 !important;
}
#homeBannerSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 6px !important;
}
#homeBannerSwiper .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}

@keyframes widthToFull {
  0% {
    width: 0;
  } 100% {
    width: 100%;
  }
}
